html {
  font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
}

.main {
  max-width: 460px;
  margin: 0 auto;
}

.card {
  width: 73px;
  height: 90px;
  display: inline-block;
  text-align: center;
}

.icon {
  width: 48px;
  height: 48px;
  margin: 0 auto 10px;
  
  &-sn { background-image: url(/images/sn.svg); }
  &-sl { background-image: url(/images/sl.svg); }
  &-h { background-image: url(/images/h.svg); }
  &-t { background-image: url(/images/t.svg); }
  &-hr { background-image: url(/images/hr.svg); }
  &-lr { background-image: url(/images/lr.svg); }
  &-s { background-image: url(/images/s.svg); }
  &-hc { background-image: url(/images/hc.svg); }
  &-lc { background-image: url(/images/lc.svg); }
  &-c { background-image: url(/images/c.svg); }
}

.temp {
  font-size: 13px;

  &-text {
    display: inline-block;

    &:first-child {
      padding-right: 5px;
    }

    &:last-child {
      color: #bababa;
    }
  }
}