/* Trying to make use of BEM methodolgy for reusable style components.   */

html {
    font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.main {
    max-width: 800px;
    margin: 20px auto;
    color: #333;
    padding: 0 20px;
}

.form-group {
    margin-bottom: 32px;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px, rgba(0, 0, 0, 0.1) 0px 1px 4px;
    border-radius: 2px;
    border: none;
    padding: 14px 24px 24px;
}

.form-item {
    font-size: 16px;
    line-height: 24px;
    width: 100%;
    height: 72px;
    display: inline-block;
    position: relative;
    cursor: auto;
}

.form-item .form-item__error {
    display: none;
}

.form-item.error .form-item__error {
    display: inline;
    color: red;
}

/* Usually labels should be clickable but the clickable area for input is big enough 
to allow the label to be non-interactable. */
.form-item__label {
    position: absolute;
    line-height: 22px;
    top: 38px;
    z-index: 1;
    transform: scale(0.75) translate(0px, -28px);
    transform-origin: left top;
    pointer-events: none;
    color: rgba(0, 0, 0, 0.298039);
}

.form-item__input {
    padding: 0px;
    position: relative;
    width: 100%;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0.870588);
    cursor: inherit;
    opacity: 1;
    height: 100%;
    box-sizing: border-box;
    margin-top: 14px;
}

hr {
    border-style: none none solid;
    border-color: rgb(224, 224, 224);
    border-bottom-width: 1px;
    bottom: 8px;
    box-sizing: content-box;
    margin: 0px;
    position: absolute;
    width: 100%;
}

.form-item__input:focus ~ hr {
    border-color: rgb(0, 188, 212);
}

.form-item__select {
    -webkit-appearance: none;
    -moz-appearance: none;
}

.hero-text {
    font-size: 64px;
    text-align: center;
}