html {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333; }

.main {
  max-width: 460px;
  margin: 0 auto; }

.card {
  width: 73px;
  height: 90px;
  display: inline-block;
  text-align: center; }

.icon {
  width: 48px;
  height: 48px;
  margin: 0 auto 10px; }
  .icon-sn {
    background-image: url(/images/sn.svg); }
  .icon-sl {
    background-image: url(/images/sl.svg); }
  .icon-h {
    background-image: url(/images/h.svg); }
  .icon-t {
    background-image: url(/images/t.svg); }
  .icon-hr {
    background-image: url(/images/hr.svg); }
  .icon-lr {
    background-image: url(/images/lr.svg); }
  .icon-s {
    background-image: url(/images/s.svg); }
  .icon-hc {
    background-image: url(/images/hc.svg); }
  .icon-lc {
    background-image: url(/images/lc.svg); }
  .icon-c {
    background-image: url(/images/c.svg); }

.temp {
  font-size: 13px; }
  .temp-text {
    display: inline-block; }
    .temp-text:first-child {
      padding-right: 5px; }
    .temp-text:last-child {
      color: #bababa; }
