<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>ESI Developer Test - London Weather</title>
        <link href="/styles/main.css" rel="stylesheet" type="text/css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css" rel="stylesheet" type="text/css" >
        <link href="http://fonts.googleapis.com/css?family=Roboto:400,300,500" rel="stylesheet" media="all">
    </head>
    <body>
        <main class="main">
            <h1 class="hero-text">London, UK</h1>
            <% if(weather !== null){ %>
                <% for(var i=0; i < weather.length; i++){ %>
                    <div class="card">
                        <span><%= moment(weather[i].applicable_date).format('ddd') %></span>
                        <figure class="icon-<%= weather[i].weather_state_abbr %> icon" aria-label="<%= weather[i].weather_state_name %>"></figure>
                        <div class="temp">
                            <span class="temp-text"><%= weather[i].max_temp.toFixed(0) %>°</span>
                            <span class="temp-text"><%= weather[i].min_temp.toFixed(0) %>°</span>
                        </div>
                    </div>
                <% } %>
            <% } %>
            <% if(error !== null){ %>
             <p><%= error %></p>
            <% } %>
        </main>
    </body>
</html>